<el-tabs 
	v-model="RightactiveName" 
	v-if="!DataLoading"
	style="width: 100%;" 
	@tab-click="handleClick">
    <el-tab-pane label="{lang setting_basic}" name="tool">
        <el-scrollbar>
            <el-form 
                :model="RightformBasic" 
                label-position="top" 
                label-suffix=":"
                style="width: 100%;">
				<el-form-item label="{lang page_title}">
					<el-input v-model="RightformBasic.pname"></el-input>
				</el-form-item>
				<el-form-item label="{lang cover}">
					<el-upload
							class="avatar-uploader cover"
							action="{MOD_URL}&op=admin&operation=uploadimg"
							:show-file-list="false"
							name="files"
							accept="image/*"
							:on-success="handleCoverUploaLogodSuccess">
						<template v-if="RightformLike._file_cover.src">
							<img :src="RightformLike._file_cover.src" class="avatar" />
							<el-icon class="close-img" @click.stop="handleCloseImg('cover')"><Close-Bold /></el-icon>
						</template>
						<template v-else>
							<el-icon class="avatar-uploader-icon"><Plus /></el-icon>
						</template>
					</el-upload>
				</el-form-item>
				<el-form-item label="{lang collect}">
					<el-select
							v-model="RightformBasic.collection"
							multiple
							style="width: 100%">
						<el-option
								v-for="item in RightformBasic.options"
								:key="item.value"
								:label="item.label"
								:value="item.value"
						></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="{lang metadescription}">
					<el-input v-model="RightformBasic.metadescription"  :autosize="{ minRows: 2, maxRows: 4 }"  type="textarea"></el-input>
				</el-form-item>
				<el-form-item label="{lang metakeywords}">
					<el-input v-model="RightformBasic.metakeywords" :autosize="{ minRows: 2, maxRows: 4 }"  type="textarea"></el-input>
				</el-form-item>

				<el-form-item label="{lang address}">
					<div style="display: flex;width: 100%;">
						<el-input v-model="RightformBasic.address" style="flex: 1;"></el-input>
						<!-- <el-button style="margin-left: 6px;" icon="CopyDocument"></el-button> -->
					</div>
				</el-form-item>
				<el-form-item label="{lang perm_view}">
					<orguser-select 
						defaulttype="view" 
						@change="SettingUserChange" 
						:defaultheckeds="SettingFormvisit.checked" 
						:defaultexpanded="SettingFormvisit.expanded" 
						:defaultdata="SettingFormvisit.data"></orguser-select>
				</el-form-item>
				<el-form-item label="{lang perm_download}">
					<orguser-select 
						defaulttype="down" 
						@change="SettingUserChange" 
						:defaultheckeds="SettingFormdown.checked" 
						:defaultexpanded="SettingFormdown.expanded" 
						:defaultdata="SettingFormdown.data"></orguser-select>
				</el-form-item>
				<el-form-item label="{lang perm_share}">
					<orguser-select 
						defaulttype="share" 
						@change="SettingUserChange" 
						:defaultheckeds="SettingFormshare.checked" 
						:defaultexpanded="SettingFormshare.expanded" 
						:defaultdata="SettingFormshare.data"></orguser-select>
				</el-form-item>

			</el-form>
        </el-scrollbar>
        
    </el-tab-pane>
	<el-tab-pane label="{lang setting_preference}" name="like">
        <el-scrollbar>
            <el-form 
                :model="RightformLike" 
                label-position="top" 
                label-suffix=":"
                style="width: 100%;">
				<el-form-item label="{lang img_banner}">
					<el-upload
						class="avatar-uploader"
						action="{MOD_URL}&op=admin&operation=uploadimg"
						:show-file-list="false"
						name="files"
						accept="image/*"
						:on-success="handleUploadSuccess"
						:before-upload="handleUploadChange">
						<template v-if="RightformLike._file_carousel.aid">
							<img :src="RightformLike._file_carousel.src" class="avatar" />
							<el-icon class="close-img" @click.stop="handleCloseImg"><Close-Bold /></el-icon>
						</template>
						<template v-else>
							<el-icon class="avatar-uploader-icon"><Plus /></el-icon>
						</template>
					</el-upload>
					<el-text type="info">建议图片大小1920*500</el-text>
				</el-form-item>
				<el-form-item label="{lang pagewidth}" >
					<el-radio-group v-model="RightformLike.pageWidth" style="width: 100%;">
						<el-radio border style="width: 25%;" label="w1440">{lang pagewidth_w1440}</el-radio>
						<el-radio border style="width: 25%;" label="w800">{lang pagewidth_w800}</el-radio>
						<el-radio border style="width: 25%;" label="auto">{lang pagewidth_auto}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item label="{lang topNavigation}" >
					<el-radio-group v-model="RightformLike.topNavigation" style="width: 100%;">
						<el-radio border style="margin-bottom: 6px;width: 40%;" :label="1">{lang enable}</el-radio>
						<el-radio border style="margin-bottom: 6px;width: 40%;" :label="0">{lang close}</el-radio>
					</el-radio-group>
				</el-form-item>

				<el-form-item label="{lang bottomEnable}">
					<el-radio-group v-model="RightformLike.bottomEnable" style="width: 100%;">
						<el-radio border style="margin-bottom: 6px;width: 40%;" :label="1">{lang enable}</el-radio>
						<el-radio border style="margin-bottom: 6px;width: 40%;" :label="0">{lang close}</el-radio>
					</el-radio-group>
				</el-form-item>

				<el-form-item label="{lang bottomNavigation}" v-if="RightformLike.bottomEnable">
					<el-radio-group v-model="RightformLike.bottomNavigation" style="width: 100%;">
						<el-radio border style="margin-bottom: 6px;width: 40%;" :label="1">{lang enable}</el-radio>
						<el-radio border style="margin-bottom: 6px;width: 40%;" :label="0">{lang close}</el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item label="{lang bottomTitle}" v-if="RightformLike.bottomEnable">
					<el-input
							v-model="RightformLike._textarea_bottomtitle"
							:autosize="{ minRows: 2, maxRows: 4 }"
							type="textarea"></el-input>
				</el-form-item>
				<el-form-item label="{lang beian}" v-if="RightformLike.bottomEnable">
					<el-input v-model="RightformLike.beian"></el-input>
				</el-form-item>
				<el-form-item label="{lang beianmps}" v-if="RightformLike.bottomEnable">
					<el-input v-model="RightformLike.beianmps"></el-input>
				</el-form-item>
			</el-form>
        </el-scrollbar>
        
    </el-tab-pane>

</el-tabs>
<script type="text/javascript">
	var RightMixin = {
		data(){
			return {
				RightactiveName:'tool',
                RightformBasic:{
                    pname:'',
                    metakeywords:'',
                    metadescription:'',
                    address:'',
					collection:[],
					options: []
                },
				RightformLike:{
                    _file_carousel:{src:'',aid:0},
					bottomEnable:0,
					bottomNavigation:0,
					topNavigation:0,
					_textarea_bottomtitle:'',
					beian:'',
					beianmps:'',
					_file_cover:{src:'',aid:0},
					pageWidth:'w800',
                },
				imageUrl:'',

			}
		},
        watch:{

		},
		created() {

        },
		methods:{
			handleCloseImg(type){
				if(type == 'cover'){
					this.RightformLike._file_cover = {src:'',aid:0};
				}else{
					this.RightformLike._file_carousel = {src:'',aid:0};
				}
			},

			handleCoverUploaLogodSuccess(data){
				let self = this;
				if(data.files && data.files.length && data.files[0].data){
					this.RightformLike._file_cover = {src:data.files[0].data.img,aid:data.files[0].data.aid};
				}else if(data.files && data.files.length && data.files[0].error){
					self.$message.error(data.files[0].error);
				}else{
					self.$message.error(__lang.upload_failed);
				}

			},


			handleUploadChange(rawFile){
				if (rawFile.type !== 'image/jpeg' && rawFile.type !== 'image/png' && rawFile.type !== 'image/gif' && rawFile.type !== 'image/webp'  && rawFile.type !== 'image/jpg') {

					ElementPlus.ElMessage.error('Must be picture format!');
					return false
				}
				return true
			},
            handleUploadSuccess(data){
				this.RightformLike._file_carousel = {src:data.files[0].data.img,aid:data.files[0].data.aid};
            },

            async addPosition(type){
                let self = this;
                let visit = {};
				let share = {};
				let download = {};
                if(parseFloat(self.SettingFormvisit.status)){
					visit = 0;
				}else if(self.SettingFormvisit.groups && self.SettingFormvisit.groups.length && self.SettingFormvisit.groups.indexOf('unlimit')>-1){
					visit = 1;
				}else{
					if(self.SettingFormvisit.groups && self.SettingFormvisit.groups.length){
						visit['groups'] = self.SettingFormvisit.groups;
					}
					if(self.SettingFormvisit.uids && self.SettingFormvisit.uids.length){
						visit['uids'] = self.SettingFormvisit.uids;
					}
				}
                if(parseFloat(self.SettingFormshare.status)){
					share = 0;
				}else if(self.SettingFormshare.groups && self.SettingFormshare.groups.length && self.SettingFormshare.groups.indexOf('unlimit')>-1){
					share = 1;
				}else{
					if(self.SettingFormshare.groups && self.SettingFormshare.groups.length){
						share['groups'] = self.SettingFormshare.groups;
					}
					if(self.SettingFormshare.uids && self.SettingFormshare.uids.length){
						share['uids'] = self.SettingFormshare.uids;
					}
				}
			
				if(parseFloat(self.SettingFormdown.status)){
					download = 0;
				}else if(self.SettingFormdown.groups && self.SettingFormdown.groups.length && self.SettingFormdown.groups.indexOf('unlimit')>-1){
					download = 1;
				}else{
					if(self.SettingFormdown.groups && self.SettingFormdown.groups.length){
						download['groups'] = self.SettingFormdown.groups;
					}
					if(self.SettingFormdown.uids && self.SettingFormdown.uids.length){
						download['uids'] = self.SettingFormdown.uids;
					}
				}
				this.IsIframe = false;
				let pageset = JSON.parse(JSON.stringify(this.RightformLike));
				
				pageset['_file_carousel'] = parseFloat(this.RightformLike._file_carousel.aid)?[this.RightformLike._file_carousel.aid]:[];
				if(this.RightformLike._file_cover.aid > 0){
					pageset['_file_cover'] = {aid:this.RightformLike._file_cover.aid,src:''};
				}else{
					pageset['_file_cover'] = {aid:0,src:this.RightformLike._file_cover.src};
				}
				let param = {
					formhash:'{FORMHASH}',
					submit:true,
                    id:this.documentid,
					ptype:'{$data['ptype']}',
					pval:'{$data['pval']}',
                    pname:this.RightformBasic.pname,
                    metakeywords:this.RightformBasic.metakeywords,
                    metadescription:this.RightformBasic.metadescription,
                    address:this.RightformBasic.address,
					rpids:this.RightformBasic.collection,
                    view:visit,
                    download:download,
                    share:share,
					pageset:pageset
                };
				if(type!=='save'){
					param['pstatus'] = 1;
				}
				let {data: res} = await axios.post('{MOD_URL}&op=admin&operation=basic',param);
				this.IsIframe = true;
            },
            SettingUserChange(data,type){
				var str = {
					groups:[],
					uids:[],
					data:[],
					checked:[],
					expanded:[],
					status:0
				}
				if(data && data.length){
					for(var i in data){
						var item = data[i];
						if(item.type == 'unlimit'){
							str.groups.push('unlimit');
							break;
						}
						if(item.type == 'user'){
							str.uids.push(item.id);
						}else{
							str.groups.push(item.id);
						}
						str.data.push(item);
					}
				}else{
					str.status = 1;
				}
                if(type == 'view'){
                    this.SettingFormvisit = str;
                }else if(type == 'down'){
                    this.SettingFormdown = str;
                }else if(type == 'share'){
                    this.SettingFormshare = str;
                }
			}

		}
	};
</script>